@import 'variables.scss';

.software {

    h2,
    span,
    li {
        color: $color;
    }

    span {
        font-size: calc(-1px + 1vw);
        font-weight: 500;
    }

    h2 {
        font-size: calc(6px + 1vw);
        font-weight: 900;
    }

    p {
        font-size: calc(-3px + 1vw);
        font-weight: 400;
        text-align: justify;
    }

    ul {
        li {
            font-size: calc(3px + 1vw);
            font-weight: 700;

            &::marker {
                color: $bg-color;
            }
        }
    }
}